# general
.env
*.env
!.env.example
uploads/
database/pgdata/
database/pglogs/
database/.initpw

# node
frontend/node_modules/
frontend/dist/
frontend/.vite/
npm-debug.log*

# python
backend/__pycache__/
backend/**/__pycache__/
backend/.venv/
backend/.pytest_cache/
backend/*.egg-info/

# ide/os
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
